@font-face{
  font-family:SilkscreenNormal;
  src:url('./assets/fonts/Minecrafter.Alt.ttf');
}
@font-face{
  font-family:Minecraft;
  src:url('./assets/fonts/slkscr.ttf');
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: SilkscreenNormal;
  /* https://images7.alphacoders.com/589/589234.jpg */
  background: url('./assets//images/diamondsBg.png') center center fixed;
  background-size: 100% 100%;
}

button {
  font-family: Minecraft;
  color: white;
}
